{% extends "base.html" %}

{% block body %}

<style>
    .payment-options {
      display: block;
    }

    .payment-option {
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .payment-option:hover {
      background-color: #ddd;
    }

    .payment-option input[type="radio"] {
      display: none;
    }

    .payment-option.selected {
      background-color: #007bff;
      color: #fff;
    }

    .payment-option.selected label {
      font-weight: bold;
    }

</style>

<section class="full">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-10 col-md-8 col-lg-5 mx-auto">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="text-center">
                                <strong>Transaction Details</strong>
                            </h3>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Code: {{ transaction.transaction_code }}</li>
                            <li class="list-group-item">ID: {{ transaction.id }}</li>
                            <li class="list-group-item">Date: {{ transaction.time_stamp.date }}</li>
                            <li class="list-group-item">TIme: {{ transaction.time_stamp.time }}</li>
                          </ul>
                        </div>
                    </div>
                    <div class="col-10 col-md-8 col-lg-7 mx-auto">
                        <div class="card" style="width: 18rem;">
                          <div class="card-header">
                            <h3 class="text-center">
                              <strong>Complete Payment</strong>
                            </h3>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Unlock the phone with the line {{ transaction.msisdn }}.</li>
                            <li class="list-group-item">Exit all apps but keep the phone unlocked.</li>
                            <li class="list-group-item">Await a stk pop up, requiring you to confirm a payment by entering your pin.</li>
                            <li class="list-group-item">Enter your m-pesa pin number.</li>
                            <li class="list-group-item">Then click complete to process payment.</li>
                            <form action="/process_pay/{{ transaction.id }}/" method="post">
                              {% csrf_token %}
                              <input type="submit" class="btn btn-primary" value="complete">
                            </form>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const paymentOptions = document.querySelectorAll(".payment-option");

      paymentOptions.forEach(option => {
        option.addEventListener("click", function() {
          // Unselect previously selected option
          document.querySelectorAll(".payment-option").forEach(opt => {
            opt.classList.remove("selected");
          });

          // Select the clicked option
          option.classList.add("selected");
        });
      });
    });

</script>
{% endblock %}