{% extends "base.html" %}

{% block body %}

<style>
    body {
        background-color: #f8f9fa; /* Light gray background */
    }

    .full {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full-75 {
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <!-- Card for product details -->
          <div class="card mx-auto">
            <div class="card-body text-dark">
                <h3 class="text-center text-dark">Are you sure you want to pay {{ transaction.transaction_amount }} through {{ transaction.msisdn}}?</h3>
                <form action="/confirm_pay/{{ transaction.id }}/" method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-around align-items-center">
                        <input type="submit" class="btn btn-success" name="yes" placeholder="Yes" value="Yes">
                        <input type="submit" class="btn btn-warning" name="no" placeholder="No" value="No">
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}