{% extends "base.html" %}

{% block burner %}

{% endblock %}

{% block warning %}
{% if is_parent %}
<div class="container">
    <div class="row py-2">
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle mr-2"></i>
        <div>
          You are paying fees for {{ student }}.
        </div>
      </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block body %}

<style>
    body {
        background-color: #f8f9fa; /* Light gray background */
    }

    .full {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full-75 {
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        width: 100%;
        max-width: 98vw;
        padding: 20px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .login-container form {
        margin-top: 15px;
    }

    .login-container label {
        font-weight: bold;
    }

    .email-input .login-container input, .password-input .login-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .login-container .form-check {
        margin-bottom: 15px;
    }

    .login-container button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #ffffff;
        cursor: pointer;
    }

    .login-container button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container-fluid full-75">
    <div class="row {% if is_parent %}pt-3 pb-5{% else %}py-5{% endif %}">
        <div class="login-container d-flex mx-auto justify-content-center align-items-center">
            <div>
                <h2 class="text-center">Payment Details</h2>
                <form action="/payment_details/{{ transaction.id }}/" method="post">
                    {% csrf_token %}
                    <div class="mb-3 email-input">
                        <label for="exampleInputEmail1" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" name="amount" value="{% if transaction.amount %}{{ transaction.amount }}{% else %}{{ transaction.student.balance }}{% endif %}" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">Enter the amount you'd wish to pay.</div>
                    </div>
                    <div class="mb-3 email-input">
                        <label for="phone-number" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone-number" name="phone-number" value="{{ user.phone }}" aria-describedby="phone-number-help" required>
                        <div id="phone-number-help" class="form-text">Enter the phone number that will pay.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">send</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
