{% extends "base.html" %}
{% load post_tags %}

{% block title %}Registration page{% endblock %}

{% block burner %}

{% endblock %}

{% block body %}

<div class="container full">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            List of students with fee balance
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="table-wrapper">
              <table class="table custom-table table-striped" id="incompleteFeesTable">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Progress</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Repeat this TR for each project -->
                  {% if incomplete_completed_fees %}
                  {% for student in incomplete_completed_fees %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.middle_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.balance }}</td>
                    <td>
                        {% progress_bar student.balance student.full_fees as progress %}
                        <div class="progress" style="height: 5px; border-radius: 5px;">
                          <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                        </div>
                    </td>
                  </tr>
                  <!-- End of TR for each project -->
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="5">No student has incomplete fee balance.</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            List of students with no fee balance
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="table-wrapper">
              <table class="table custom-table table-striped" id="completeFeesTable">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Progress</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Repeat this TR for each project -->
                  {% if completed_fees %}
                  {% for student in completed_fees %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.middle_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.balance }}</td>
                    <td>
                        {% progress_bar student.balance student.full_fees as progress %}
                        <div class="progress" style="height: 5px; border-radius: 5px;">
                          <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                        </div>
                    </td>
                  </tr>
                  <!-- End of TR for each project -->
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="5">No student has completed fees.</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            List of all students
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="table-wrapper">
              <table class="table custom-table table-striped" id="allStudentsTable">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Progress</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Repeat this TR for each project -->
                  {% if all_students %}
                  {% for student in all_students %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.user.first_name }}</td>
                    <td>{{ student.user.middle_name }}</td>
                    <td>{{ student.user.last_name }}</td>
                    <td>{{ student.balance }}</td>
                    <td>
                      {% progress_bar student.balance student.full_fees as progress %}
                      <div class="progress" style="height: 20px; border-radius: 5px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                      </div>
                    </td>
                  </tr>
                  <!-- End of TR for each project -->
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="5">No student in the database.</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  new DataTable("#completeFeesTable");
  new DataTable("#incompleteFeesTable");
  new DataTable("#allStudentsTable");
</script>

{% endblock %}
