gunicorn==20.1.0
dj-database-url==2.1.0
Django
djangorestframework==3.14.0
django-daraja==1.2.0
daraja==0.0.4
django-cors-headers==3.13.0
pip==23.1.2
django-filter==22.1
gspread==5.9.0
oauth2client==4.1.3
urllib3<2.0
psycopg2==2.9.9